@use "./styles/login";
@use "./styles/register";

html,
body,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    justify-self: center;
    height: 100%;
}
